html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman';
  overflow-x: hidden;
  overflow-y: hidden;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list {
  max-width: auto;
  min-width: 300px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0 2px 10px black;
}
h1 {
  text-align: center;
  color: darkslategrey;
}
.task-create {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
input, textarea {
  min-height: 25px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Times New Roman';
}
button {
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Times New Roman';
}
button:hover {
  background-color: darkorange;
}
.task-list {
  list-style-type: none;
  padding: 0;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 1px 3px black;
}
.task-item:hover {
  box-shadow: 0 2px 8px black;
}
.task-content {
  flex-grow: 1;
}
.task-item h2 {
  margin: 0;
  font-size: 18px;
  color: darkslategrey;
}
.task-item p {
  margin: 5px 0 0;
  color: #666666;
}
.delete-button {
  font-size: 20px;
  border: none;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.name-list {
  max-width: auto;
  min-width: 300px;
  margin-left: 50px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0 2px 10px black;
}
.name-list ul {
  list-style-type: none;
  padding: 0;
}
.name-item {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 1px 3px black;
}
.name-item:hover {
  box-shadow: 0 2px 8px black;
}